.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    
}
.container .heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightslategray;
}
.container .heading-wrapper .left-column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .heading-wrapper .left-column-header img {
    height: 100px;
    width: 100px;

}
