.body {
    width: 100vh;
    height: 100vh;
    position: fixed;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}


.heading-wrapper {
    background-color: lightgrey;
    height: 100px;
}

.footer-wrapper {
    height: 100px;
    background-color: lightgrey;
}

